.offices {
  .offices_span1 {
    position: absolute;
    width: 78px;
    height: 20px;
    left: 150px;
    top: 1324.16px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #383838;
    opacity: 0.5;
  }
  .offices_span2 {
    position: absolute;
    width: 334px;
    height: 60px;
    left: 150px;
    top: 1364.16px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #383838;
  }
  .offices_adressList {
    position: absolute;
    white-space: nowrap;
    width: 276px;
    height: 378px;
    left: 150px;
    top: 1470.51px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 54px;
    letter-spacing: 0.01em;
    color: #383838;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
  .offices_img1 {
    position: absolute;
    width: 513px;
    height: 756px;
    left: 565px;
    top: 1494.47px;
    background: url("../../image/img2.svg");
  }
  .offices_img2 {
    position: absolute;
    width: 802px;
    height: 596px;
    left: 1118px;
    top: 1514.47px;
    background: url("../../image/img3.svg");
  }
  .offices_backgroundDescription {
    position: absolute;
    width: 513px;
    height: 60px;
    left: 1257px;
    top: 2053.72px;
    background: #ffffff;
  }
  .offices_description {
    position: absolute;
    width: 384px;
    height: 72px;
    left: 1327px;
    top: 2093.8px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #383838;
    p {
      margin: 0;
    }
  }
  .offices_arrow1 {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 0px;
    left: 1367.83px;
    top: 2226.58px;
    border: 1px solid #e9b0b0;
    transform: matrix(1, 0, 0, -1, 0, 0);
    i {
      position: absolute;
      width: 1px;
      height: 1px;
      left: 30.5px;
      top: -3.9px;
      border: 0.5px solid #e9b0b0;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
    }

    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
  .offices_arrow2 {
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 0px;
    left: 1335px;
    top: 2226.58px;
    opacity: 0.5;
    border: 1px solid #383838;
    transform: rotate(-180deg);
    i {
      position: absolute;
      width: 1px;
      height: 1px;
      left: 10.5px;
      top: -3.9px;
      border: 0.5px solid #383838;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
    }

    .left {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
  .offices_ellipse1 {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 610px;
    top: 2510.78px;
    background: #f2f2f2;
    border-radius: 50%;
  }
  .offices_span3 {
    white-space: nowrap;
    position: absolute;
    width: 100px;
    height: 20px;
    left: 940px;
    top: 2581.18px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #383838;
    opacity: 0.5;
  }
  .offices_span4 {
    position: absolute;
    width: 491px;
    height: 120px;
    left: 940px;
    top: 2621px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #383838;
  }
  .offices_span5 {
    position: absolute;
    width: 490.54px;
    height: 227.76px;
    left: 940px;
    top: 2786.78px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #383838;
    p {
      margin-top: 0;
    }
  }
  .offices_span6 {
    position: absolute;
    width: 146px;
    height: 24px;
    left: 980px;
    top: 3107.67px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #383838;
  }
  .offices_ellipse2 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 1232.5px;
    top: 3094.7px;
    background: #e9b0b0;
    border-radius: 50%;
  }
  .offices_arrow3 {
    box-sizing: border-box;
    position: absolute;
    width: 85px;
    height: 0px;
    left: 1175.5px;
    top: 3122.7px;
    border: 1px solid #383838;
    transform: rotate(-180deg);
    i {
      position: absolute;
      width: 1px;
      height: 1px;
      left: -0.5px;
      top: -3.9px;
      border: 0.5px solid #383838;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
    }

    .right1 {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  }
  .offices_span7 {
    display: flex;
    position: absolute;
    width: 93px;
    height: 95px;
    left: 427px;
    top: 2633.68px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 95px;
    color: #383838;
  }
  .offices_span8 {
    position: absolute;
    width: 138px;
    height: 95px;
    left: 427px;
    top: 2920.27px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 95px;
    color: #383838;
  }
  .offices_span9 {
    position: absolute;
    width: 202.04px;
    height: 90.48px;
    left: 427px;
    top: 2759.29px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #383838;
  }
  .offices_span10 {
    position: absolute;
    width: 225.39px;
    height: 90.48px;
    left: 427px;
    top: 3045.89px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #383838;
  }
}
