.socialIntervue {
  position: absolute;
  width: 24px;
  height: 351.12px;
  left: 1751.8px;
  top: 101.71px;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 101.71px;
}
.socialIntervue_text1 {
  width: 241px;
  height: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #383838;
  opacity: 0.5;
  transform: rotate(-90deg);
}
.socialIntervue_line {
  padding-top: 30.12px;
}
