@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.page {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  background: #f2f2f2;
  .page_box-1 {
    .page_navigation {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 60px;
      position: absolute;
      width: 600px;
      height: 24px;
      left: 387px;
      top: 83px;
      .a-1 {
        width: 114px;
        height: 24px;
        text-decoration: none;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #383838;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
      .a-2 {
        width: 120px;
        height: 24px;
        text-decoration: none;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #383838;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
      .a-3 {
        width: 119px;
        height: 24px;
        text-decoration: none;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #383838;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
      .a-4 {
        width: 67px;
        height: 24px;
        text-decoration: none;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #383838;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }
    .page_span-1 {
      position: absolute;
      width: 170px;
      height: 20px;
      left: 391px;
      top: 295px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #383838;
      opacity: 0.5;
    }
    .page_span-2 {
      position: absolute;
      width: 631px;
      height: 200px;
      left: 391px;
      top: 355px;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 400;
      font-size: 85px;
      line-height: 100px;
      color: #383838;
    }
    .page_catalog {
      .page_span-3 {
        position: absolute;
        width: 146px;
        height: 24px;
        left: 391px;
        top: 608.54px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #383838;
      }
      .page_ellipse {
        position: absolute;
        width: 56px;
        height: 56px;
        left: 643.5px;
        top: 595.57px;
        background: #e9b0b0;
        border-radius: 50%;
      }
      .page_arrow {
        box-sizing: border-box;
        position: absolute;
        width: 85px;
        height: 0px;
        left: 586.5px;
        top: 623.57px;
        border: 0.5px solid #383838;
        i {
          position: absolute;
          width: 1px;
          height: 1px;
          left: 75.5px;
          top: -3.9px;
          border: 1px solid #383838;
          border-width: 0 1px 1px 0;
          display: inline-block;
          padding: 3px;
        }

        .right {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
    }
    .page_span-4 {
      position: absolute;
      width: 45px;
      height: 24px;
      left: 391px;
      top: 811.76px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #383838;
    }
    .page_span-5 {
      position: absolute;
      width: 230.05px;
      height: 72.24px;
      left: 505px;
      top: 811.76px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #383838;
    }
  }

  &_mainImg {
    position: absolute;
    width: 744px;
    height: 1000px;
    left: 980px;
    top: 0px;
    background-image: url("../../image/imgCover.svg");
  }
  &_rentalConditions {
    position: absolute;
    width: 928px;
    height: 110px;
    left: 842px;
    top: 970px;
    background: #ffffff;
    display: flex;
  }
  .page_text1 {
    width: 209.81px;
    height: 60px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #383838;
    padding-top: 55px;
    padding-left: 138px;
  }
  .page_text2 {
    width: 345px;
    height: 72px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #383838;
    padding-top: 62px;
    padding-left: 67.19px;
    // padding-right: 138px;
  }
}
